#map-canvas
#on_map
  = render 'about_btn'
  = render 'evac_btn'
  = render 'pages/mobile/popup'

= render 'pages/mobile/mobile_nav'

#reasons_content.screen_block.inactive_block{data: {left: -200}}
  = render 'pages/mobile/reasons_header'
  =modal("reasons_modal") {render 'reasons/reasons_modal'}

#news_content.screen_block.inactive_block{data: {left: -100}}
  = render 'pages/mobile/news_header'
  = render 'news_container'

#main_content.screen_block.active_block{data: {left: 0}}
  = render 'pages/mobile/main_header'
  = render 'three_reasons_container'

#about_content.screen_block.inactive_block{data: {left: 100}}
  = render 'pages/mobile/about_header'
  =modal("about_modal") {render 'pages/about/about_modal'}

=modal("share_modal") {render 'pages/share/share_modal'}

-cache do
  =audio_tag("hallelujah.mp3", "hallelujah.ogg", id: "hallelujah")