-cache do
  #map-canvas

#main_container
  = render :partial => 'logo_container'
  = render :partial => 'news_container'
  = render :partial => 'reasons_container'

= render :partial => 'about_btn'
= render :partial => 'evac_btn'

= render :partial => 'modals'