#map-canvas

#main_container
  = render :partial => 'logo_container'

  = render :partial => 'news_container'

  = render :partial => 'reasons_container'

#about_btn_container
  = render :partial => 'about_btn'

#evac_btn_container
  = render :partial => 'evac_btn'