-#-cache do
#map-canvas
#on_map
  = render :partial => 'about_btn'
  = render :partial => 'evac_btn'
  = render :partial => 'pages/mobile/popup'

= render :partial => 'pages/mobile/mobile_nav'

#reasons_content.screen_block.inactive_block{data: {left: -200}}
  = render :partial => 'pages/mobile/reasons_header'
  =modal("reasons_modal") {render :partial => 'reasons/reasons_modal'}

#news_content.screen_block.inactive_block{data: {left: -100}}
  = render :partial => 'pages/mobile/news_header'
  = render :partial => 'news_container'

#main_content.screen_block.active_block{data: {left: 0}}
  = render :partial => 'pages/mobile/main_header'
  = render :partial => 'three_reasons_container'

#about_content.screen_block.inactive_block{data: {left: 100}}
  = render :partial => 'pages/mobile/about_header'
  =modal("about_modal") {render :partial => 'pages/about/about_modal'}

=modal("share_modal") {render :partial => 'pages/share/share_modal'}