!!!
%html
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1, user-scalable=no", name: "viewport"}/
    %title Rashka
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = csrf_meta_tags
    = include_gon
  %body
    /[if lt IE 9]
      %script{src: "http://html5shiv.googlecode.com/svn/trunk/html5.js"}
    %script{src: "https://maps.googleapis.com/maps/api/js?key=AIzaSyC6oenJqwqgf3ovvE37o0mk8i2SdjT1egg&sensor=true"}

    = render :partial => 'notifications/notice'
    = yield
    = javascript_include_tag "application", "data-turbolinks-track" => true

    = render :partial => 'vendor/facebook'
    = render :partial => 'vendor/yandex'
    = render :partial => 'vendor/google'