!!!
%html
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1, user-scalable=no", name: "viewport"}/
    = display_meta_tags
    = favicon_link_tag 'favicon.ico'
    = stylesheet_link_tag "application", media: "all"
    = csrf_meta_tags
    = include_gon
  %body
    /[if lt IE 9]
      %script{src: "http://html5shiv.googlecode.com/svn/trunk/html5.js"}
    %script{src: "https://maps.googleapis.com/maps/api/js?key=AIzaSyC6oenJqwqgf3ovvE37o0mk8i2SdjT1egg&sensor=true"}

    = render 'notifications/notice'
    = yield
    = javascript_include_tag "application"

    = render 'vendor/facebook'
    = render 'vendor/yandex'
    = render 'vendor/google'